body {
    font-family: "Montserrat", sans-serif;
    background-color: #f5f7fa;
}

.main-conteiner {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: white;
    margin: auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main-content-section */

.main-content-section {
    padding: 100px 90px;
}

.main-content-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px; 
    color: black; 
    margin-bottom: 10px; 
}

/* About-me-section */
.about-me-section {
    margin: 0 0px 40px 0; 
}
.about-me-profession {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: black;
    margin-bottom: 20px;
}

.about-me-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin: 0 0 25px 0;
}

.about-me-description{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color:  #595959;
    margin: 0 0px 40px 0;
    width: 400px; 
}

/* My-projects-section */

.my-projects-section {
    margin-bottom: 50px;
  
}

.my-projects-list {
    padding-left: 17px;
}

.my-project-item {
    color: #000000;  
    font-weight: bold;
}

.my-project-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;

}

.my-project-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-project-brecket{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* My work experience */

.my-work-experience-company{
    color: #FB6D3A;
}

.my-work-experience-position{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;

}

.my-work-experience-period{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.my-work-experience-diviber{
    color: #000000;
}

.my-work-experience-duties{
    padding-left: 18px;
}

.my-work-experience-duty{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;

}

.my-work-experience-company-block{
    margin: 0 0 15px 0;
}


/* Sidebar-section */

.sidebar-sections {
    background-color: #1e2939;
    color: white;
    width: 370px;
    padding: 40px 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.contacts-section{
    margin: 50px; 0 0 40px 
}
.tech-skill-section{
    margin: 50px; 0 0 40px 
}
.soft-skill-section{
    margin: 50px; 0 0 40px 
}
.sidebar-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px; 
    margin-bottom: 10px;
    color: white;
}

/* Contacts-section */

.contacts-section-type{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: white;
    margin-right: 7px;
}

.contacts-section-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #565e6a;
}

/* Skills-section */

.skills-list{
    padding: 0 0 0 17px;
}
.skills-item{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #FB6D3A;  
}
.skills-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: white;
}